# --- Computer Vision & AI ---
opencv-python
face_recognition
numpy
ultralytics
easyocr
Pillow

# --- Web Framework ---
flask
flask-socketio
pandas
requests

# --- Socket Server (Optional but recommended for Production) ---
eventlet
